<form method="POST" action="/login/signup">
<div class="mb-3">
<h1>SignUp</h1>
</div>

        <div class="mb-3">
            <label for="username" class="form-label"> Username </label>
            <input type="text" class="form-control" id="username" name="username" onblur="usernameFieldValidation()" required>
            <div id="username-error" class="hide">*enter valid username</div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-6">
                    <label for="firstname" class="form-label"> First Name </label>
                    <input type="text" class="form-control" id="firstname" name="firstname" onblur="nameValidation()" required>
                </div>
                <div class="col-6">
                    <label for="lastname" class="form-label"> Last Name </label>
                    <input type="text" class="form-control" id="latname" name="lastname" onblur="nameValidation()" required>
                </div>
            </div>
        </div>
        <div id="name-error" class="hide">*firstName or lastname required</div>

        <div class="mb-3">
            <label for="password" class="form-label"> Password </label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="email" class="form-control" id="email" name="email" onblur="ValidateEmail()">
            <div id="email-error" class="hide">*enter valid email</div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="usertype" id="student" value="student" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="student">Student</label>          

            <input type="radio" class="btn-check" name="usertype" id="teacher" value="teacher" autocomplete="off">
            <label class="btn btn-outline-dark" for="teacher">Teacher</label>     
        </div>

        <div class="mt-5">
            <button type="submit" class="btn btn-dark"> Submit </button> 
            <div class="mt-1">
                Already Registered? <a href="/login"> Login </a>                
            </div>
        </div>

</form>
