.container-fluid{
    height: 720px;
    display: flex;
    justify-content: center;
}

form{
    padding-top: 130px;
    width: 20%;
}
.error{
    color: red;
    font-weight: bold;
    font-size: small;
    display: block;
}
.hide{
    display: none;
}